<h1>All Songs</h1>
<ul>
  <% @songs.map do |song| %>
  <li><%= link_to song.title, song_path(song)%></li>
<% end  %>
</ul>
<p><%= link_to "All Artists", artists_path %></p>
<p><%= link_to "All Playlists", playlists_path %></p>
