body{
  font-family: monospace;;
  background: url(https://pbs.twimg.com/profile_images/3656260675/ae54b2b7478394618be65324106e6121.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
