<h1><%= @playlist.name %> </h1>
<p><%= link_to "Edit Playlist", edit_playlist_path(@playlist) %></p>
<ul>
  <% @playlist.songs.each do |song| %>
  <li><%=  link_to song.title, song%></li>
  <% end %>
</ul>
